@model List<Modelos.ReporteMolde>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reporte Personal";
}
@* Muestra un mensaje de error si TempData["Error"] existe *@
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<div class="container mt-5">
    @* <form asp-action="ReporteID" method="post">
        <div class="mb-3">
            <label for="subordinado" class="form-label">Seleccionar Funcionario:</label>
            <input type="number" name="Cedula" id="Cedula" class="form-control" placeholder="Ingrese el ID">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form> *@

    @foreach (var rep in Model)
    {
        <div class="card shadow-sm p-4 mb-4">
            <h4 class="text-primary">Evaluación Finalizada</h4>
            <p><strong>Cédula:</strong> @rep.Cedula</p>
            <p><strong>Nombre:</strong> @rep.Nombre</p>
            <p><strong>IdEvaluacion:</strong> @rep.IdEva</p>
            <p><strong>Fecha de Creación:</strong> @rep.Fecha.ToString("dd/MM/yyyy")</p>
            <p><strong>Observación:</strong> @rep.Observaciones</p>
            <p><strong>Objetivo:</strong> @rep.Objetivo</p>
            <p><strong>Competencia:</strong> @rep.Competencia</p>
            <p><strong>Valor Obtenido:</strong> @rep.Nota</p>
        </div>
    }

    <a href="/Reportes/ReportePersonalPDF" class="btn btn-primary" target="_blank">
        <i class="fas fa-file-download"></i> Descargar PDF
    </a>
</div>
