@model Modelos.FuncionarioModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Evaluación del Desempeño - Como Funcionario";
}

@functions {
    static Random rnd = new Random();
}

@{
    // Array de colores para la sección de conglomerados (lo mantienes si te hace falta)
    string[] coloresFuertes = { "#E63946", "#F4A261", "#2A9D8F", "#264653", "#8E44AD", "#D72638", "#3D348B", "#FF7F50" };
}

@{
    var listaTiposObjetivos = ViewData["ListaTiposObjetivos"] as List<Modelos.TiposObjetivosModel>;
    var listaTiposCompetencias = ViewData["ListaTiposCompetencias"] as List<Modelos.TiposCompetenciasModel>;
}


<div class="container mt-4 mb-5">
    <!-- Encabezado principal -->
    <h2 class="mb-2 text-center">Gestión Institucional de Recursos Humanos</h2>
    <h4 class="mb-4 text-center">Evaluación del Desempeño @ViewBag.anioActual</h4>

    <!-- Texto introductorio -->
    <p>
        Con el objetivo de dar cumplimiento a que todo trabajador debe ser evaluado por el proceso de evaluación de desempeño
        establecido en los “Lineamientos Metodológicos Generales para la Evaluación del Desempeño de las personas servidoras públicas”,
        cubiertas por la rectoría del Ministerio de Planificación Nacional y Política Económica (MIDEPLAN) dispuestas en la
        Directriz N°029-PLAN, anuando a la Ley de Marco de Empleo Público y a la Ley de Fortalecimiento de las Finanzas Públicas.
    </p>

    <!-- Sección "Conglomerado (Ciruculos)" -->
    <div class="my-5">
        @{
            var idConglomerado = ViewBag.IdConglomerado;
            var listaConglomerados = ViewData["ListaConglomerados"] as List<Modelos.ConglomeradoModel>;
            var nombreConglomerado = listaConglomerados?.FirstOrDefault(c => c.IdConglomerado == idConglomerado)?.NombreConglomerado
            ?? "Conglomerado ?";
        }
        <h4 class="text-center">@nombreConglomerado</h4>
        <div class="row justify-content-center mt-4">
            @if (ViewBag.PesosConglomerados != null)
            {
                foreach (var item in ViewBag.PesosConglomerados)
                {
                    var randomColor = coloresFuertes[rnd.Next(coloresFuertes.Length)];
                    <div class="col-sm-3 text-center">
                        <div class="rounded-circle text-white mx-auto d-flex align-items-center justify-content-center"
                             style="width:80px; height:80px; background-color:@randomColor;">
                            @item.Porcentaje.ToString("0")%
                        </div>
                        @{
                            listaTiposObjetivos = ViewData["ListaTiposObjetivos"] as List<Modelos.TiposObjetivosModel>;
                            var nombreTipo = listaTiposObjetivos?.FirstOrDefault(t => t.IdTipoObjetivo == item.IdTipoObjetivo)?.Tipo;

                            listaTiposCompetencias = ViewData["ListaTiposCompetencias"] as List<Modelos.TiposCompetenciasModel>;
                            var nombreTipoCompet = listaTiposCompetencias?.FirstOrDefault(t => t.IdTipoCompetencia == item.IdTipoCompetencia)?.Tipo;

                            var nombreFinal = !string.IsNullOrEmpty(nombreTipo)
                            ? nombreTipo
                            : !string.IsNullOrEmpty(nombreTipoCompet) ? nombreTipoCompet : "Desconocido";
                        }
                        <p class="mt-2">@nombreFinal</p>
                    </div>
                }
            }
        </div>
    </div>

    <!-- Fase de Planificación -->
    <div class="mb-5">
        <h5>Fase de Planificación</h5>
        <p>
            La Fase de Planificación es la definición y programación de metas y objetivos por parte de la jefatura y su subalterno.
            Esta asignación se ejecuta en el mes de Enero de cada año; la jefatura deberá coordinar y acordar con su colaborador,
            considerando lineamientos, el perfil del cargo y las responsabilidades a su cargo, favoreciendo el logro de los objetivos
            y metas. 
        </p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li><strong>Dependencia:</strong> @Model.Departamento</li>
                    <li><strong>Cedula:</strong> @Model.Cedula</li>
                    <li id="ceduFuncionario" hidden>@Model.Cedula</li>
                    <li id="idConglo" hidden>@idConglomerado</li>
                    <li>
                        <strong>Funcionario:</strong> @Model.Nombre @Model.Apellido1 @Model.Apellido2
                    </li>
                    <li><strong>Clase Puesto:</strong> @Model.Puesto</li>
                    <li><strong>ID de la Evaluación  Planificada:</strong> @ViewBag.idEvaluacion</li>
                    <li class="d-none" id="idEvaluacion">@ViewBag.idEvaluacion</li>

                </ul>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>

    <!-- SECCIÓN para Objetivos Asignados -->
    <div class="mb-5">
        <h3>Objetivos Asignados</h3>
        <table id="tbObjetivosAsignados" class="table table-bordered">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Meta</th>
                    <th>Actual</th>
                    <th>Acciones</th>
                    <th class="d-none">ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objetivo in ViewBag.listaObjetivos)
                {
                    <tr>
                        <td>@objetivo.TipoObjetivo</td>
                        <td>@objetivo.NombreObjetivo</td>
                        <td>@objetivo.Peso%</td>
                        <td>@objetivo.Meta</td>
                        <td>@objetivo.ValorObtenido%</td>
                        <td>
                            <button type="button"
                                    class="btn btn-sm btn-warning btn-editar-actual"
                                    data-id="@objetivo.IdObjetivo"
                                    data-tipo="@objetivo.TipoObjetivo"
                                    data-nombre="@objetivo.NombreObjetivo"
                                    data-peso="@objetivo.Peso"
                                    data-actual="@objetivo.ValorObtenido"
                                    data-meta="@objetivo.Meta">
                                Editar Actual
                            </button>
                        </td>
                        <td class="d-none">@objetivo.IdEvaxObj</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- SECCIÓN para Competencias Asignadas -->
    <div class="mb-5">
        <h3>Competencias Asignadas</h3>
        <table id="tbCompetenciasAsignadas" class="table table-bordered">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Meta</th>
                    <th>Actual</th>
                    <th>Acciones</th>
                    <th class="d-none">ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competencia in ViewBag.ListaCompetencias)
                {
                    <tr>
                        <td>@competencia.TipoCompetencia</td>
                        <td>@competencia.NombreCompetencia</td>
                        <td>@competencia.Peso%</td>
                        <td>@competencia.Meta</td>
                        <td>@competencia.ValorObtenido%</td>
                        <td>
                            <button type="button"
                                    class="btn btn-sm btn-warning btn-editar-actual-competencia"
                                    data-id="@competencia.IdCompetencia"
                                    data-tipo="@competencia.TipoCompetencia"
                                    data-nombre="@competencia.NombreCompetencia"
                                    data-peso="@competencia.Peso"
                                    data-meta="@competencia.Meta"
                                    data-actual="@competencia.ValorObtenido">
                                Editar Actual
                            </button>
                        </td>
                        <td class="d-none">@competencia.IdEvaxComp</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Resumen Final -->
    <div class="d-flex justify-content-center">
        <div class="p-4" style="background-color: #f8d7da; max-width: 600px;">
            <h5 class="text-center">Resumen para: @Model.Nombre @Model.Apellido1 @Model.Apellido2</h5>
            <table id="tablaResultados" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Porcentaje</th>
                        <th style="width: 100px;">Valor</th>
                        <th class="d-none">id tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.PesosConglomerados)
                    {
                        var nombreTipo = listaTiposObjetivos?.FirstOrDefault(t => t.IdTipoObjetivo == item?.IdTipoObjetivo)?.Tipo;
                        var nombreTipoCompet = listaTiposCompetencias?.FirstOrDefault(t => t.IdTipoCompetencia == item?.IdTipoCompetencia)?.Tipo;
                        var nombreFinal = nombreTipo ?? nombreTipoCompet ?? "Desconocido";

                        var idTipoObjetivo = item?.IdTipoObjetivo ?? 0;
                        var idTipoCompetencia = item?.IdTipoCompetencia ?? 0;
                        var idTipo = idTipoObjetivo != 0 ? idTipoObjetivo : idTipoCompetencia;
                        var tipo = idTipoObjetivo != 0 ? "Objetivo" : "Competencia";

                        <tr>
                            <td><strong>@nombreFinal</strong></td>
                            <td><strong>@(item?.Porcentaje.ToString("0") ?? "0")%</strong></td>
                            <td style="width: 100px;">
                                <input type="number" class="form-control input-calificacion"
                                       placeholder="@(item?.Porcentaje.ToString("0") ?? "0")%" readonly />
                            </td>
                            <td class="d-none" data-tipo-id="@idTipo" data-tipo-categoria="@tipo">
                                @idTipo
                            </td>
                        </tr>
                    }

                    <tr>
                        <td><strong>Resultado:</strong></td>
                        <td><strong> 100%</strong></td>
                        <td style="width: 100px;">
                            <input type="number" class="form-control" id="resultado-total" readonly />
                        </td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button id="btnGuardarNotas" class="btn btn-info mt-3">Guardar Notas</button>
            </div>

     
        </div>
    </div>
    <hr />
    <!-- btn Eviar a la Jefatura -->
    <div class="d-flex justify-content-center">
        <div class="text-center">
            <button id="btnEnviarEvaluacionJefatura" class="btn btn-success mt-3">Enviar a Jefatura</button>
        </div>
    </div>
</div>

<!-- Modal EditarActual Objetivos -->
<div class="modal fade" id="editarActualModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Editar Valor Actual</h5>
                <button type="button" class="close" onclick="cerrarModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tipo:</label>
                    <p class="form-control-plaintext" id="modalTipoObjetivo"></p>
                </div>
                <div class="form-group">
                    <label>Objetivo:</label>
                    <p class="form-control-plaintext" id="modalNombreObjetivo"></p>
                </div>
                <div class="form-group">
                    <label>Peso:</label>
                    <p class="form-control-plaintext" id="modalPesoObjetivo"></p>
                </div>
                <div class="form-group">
                    <label>Meta:</label>
                    <p class="form-control-plaintext" id="modalMetaObjetivo"></p>
                </div>
                <div class="form-group">
                    <label for="modalValorActual">Valor Actual (%):</label>
                    <input type="number" class="form-control" id="modalValorActual">
                    <small id="valorError" class="text-danger d-none">El valor debe estar entre 1 y <span id="maxPeso"></span>%</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="modalBtnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal EditarActual Competencias -->
<div class="modal fade" id="editarActualCompetenciaModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Editar Valor Actual - Competencia</h5>
                <button type="button" class="close" onclick="cerrarModalCompetencia()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Competencia:</label>
                    <p class="form-control-plaintext" id="modalNombreCompetencia"></p>
                </div>
                <div class="form-group">
                    <label>Tipo:</label>
                    <p class="form-control-plaintext" id="modalTipoCompetencia"></p>
                </div>
                <div class="form-group">
                    <label>Peso:</label>
                    <p class="form-control-plaintext" id="modalPesoCompetencia"></p>
                </div>
                <div class="form-group">
                    <label>Meta:</label>
                    <p class="form-control-plaintext" id="modalMetaCompetencia"></p>
                </div>
                <div class="form-group">
                    <label for="modalValorActualCompetencia">Valor Actual (%):</label>
                    <input type="number" class="form-control" id="modalValorActualCompetencia">
                    <small id="valorErrorCompetencia" class="text-danger d-none">El valor debe estar entre 1 y <span id="maxPesoCompetencia"></span>%</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModalCompetencia()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="modalBtnConfirmarCompetencia">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@* **************** Llamada a JS ****************************************@
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/vista_RealizarEvaluacionComoFuncionario/editarActualObjetivos.js" asp-append-version="true"></script>
    <script src="~/js/vista_RealizarEvaluacionComoFuncionario/editarActualCompetencias.js" asp-append-version="true"></script>
    <script src="~/js/vista_RealizarEvaluacionComoFuncionario/sumasTablaResultados.js" asp-append-version="true"></script>
    <script src="~/js/vista_RealizarEvaluacionComoFuncionario/updateValorActual.js" asp-append-version="true"></script>
    <script src="~/js/vista_RealizarEvaluacionComoFuncionario/enviarEvaAJefatura.js" asp-append-version="true"></script>




}