@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Gestión de Conglomerados";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>

  @*   <div class="d-flex justify-content-between">
        <a href="/Mantenimientos/CrearNuevoConglomerado" class="btn btn-primary"> <i class="fas fa-plus"></i> Crear Nuevo Conglomerado </a>
    </div> *@

    <p>
        <a asp-action="CrearNuevoConglomerado" class="btn btn-primary">Crear nuevo Conglomerado <i class="fa-solid fa-square-plus fa-beat"></i></a>
    </p>

    <div class="table-responsive mt-3">
        <table class="table table-striped table-bordered text-center">
                <tr>
                    <th>ID</th>
                    <th>Nombre del Conglomerado</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            <tbody>
                @foreach (var cong in Model)
                {
                    <tr>
                        <td>@cong.IdConglomerado</td>
                        <td>@cong.NombreConglomerado</td>
                        <td>@cong.Descripcion</td>
                        <td>
                            <a href="/Mantenimientos/EditaConglomerado/@cong.IdConglomerado" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Modificar Conglomerado
                            </a>
                            <a href="/Mantenimientos/BorrarConglomerado/@cong.IdConglomerado" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Eliminar conglomerado
                            </a>
                            @* <button class="btn btn-danger btn-sm" onclick="confirmarEliminar(@cong.IdConglomerado, '@cong.NombreConglomerado')">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para eliminar -->
<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning text-dark">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p id="mensajeConfirmacion"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="btnEliminar">Sí</button>
            </div>
        </div>
    </div>
</div>
